{% extends 'base.html' %}

{% block title %}
  Sobre o Prato Solidário
{% endblock %}

{% block content %}
  <div class="mt-5">
    <h1>Sobre o Prato Solidário</h1>

    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="h4">Nossa Motivação</h2>
        <p class="text-justify">O Prato Solidário surgiu da necessidade urgente de combater a fome e a insegurança alimentar que afetam milhões de pessoas no Brasil e ao redor do mundo. Diante desse cenário, nós acreditamos que pequenas ações podem gerar grandes impactos. Nossa motivação está enraizada no desejo de garantir que todos tenham acesso a uma alimentação digna, nutritiva e suficiente para viver com saúde e dignidade.</p>
        <p class="text-justify">A fome não é apenas a falta de comida; ela é também um reflexo das desigualdades sociais e econômicas que persistem em nossa sociedade. Ao criarmos o Prato Solidário, buscamos despertar a conscientização e promover ações concretas que possam transformar vidas, por meio da distribuição de alimentos e da construção de uma rede de solidariedade.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="h4">A Importância da Colaboração</h2>
        <p class="text-justify">O Prato Solidário depende da participação ativa de toda a sociedade. A colaboração de indivíduos, empresas, organizações e comunidades é essencial para o sucesso deste projeto. A fome é um problema que afeta a todos nós de maneira direta ou indireta, e só com o apoio de todos podemos construir soluções sustentáveis.</p>
        <p class="text-justify">Ao participar do Prato Solidário, você não está apenas doando alimentos ou dinheiro; você está doando esperança. Cada gesto de solidariedade se transforma em refeições que ajudam a salvar vidas e a construir um futuro mais justo. Mais do que isso, ao se envolver com o nosso projeto, você se torna parte de uma rede que acredita que a fome pode ser erradicada por meio da empatia e do esforço coletivo.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="h4">Juntos Podemos Fazer a Diferença</h2>
        <p class="text-justify">A luta contra a fome é um desafio global, mas as soluções começam localmente, em cada comunidade, com cada pessoa que decide ajudar. O Prato Solidário é uma plataforma para unir forças, conectar corações e distribuir não apenas comida, mas também amor, respeito e dignidade. Acreditamos que juntos podemos fazer a diferença e transformar a realidade de muitas famílias.</p>
        <p class="text-justify">A colaboração de todos é crucial para o crescimento e continuidade de nossos esforços. Seja voluntário, doador ou apenas divulgando nosso trabalho, você contribui para que a fome seja combatida e que, um dia, seja completamente erradicada. Este é o nosso sonho, e contamos com você para torná-lo realidade.</p>
      </div>
    </div>
  </div>
{% endblock %}
