{% extends 'base.html' %}
{% load static %}
{% block title %}
  Campanhas
{% endblock %}
{% block content %}
  {% if query %}
    <h1>Resultados de: {{ query }}</h1>
  {% else %}
    <h1>Todas as campanhas disponíveis</h1>
  {% endif %}

  <div class="row justify-content-center mt-3" style="gap: 25px;">
    <!-- campaigns -->
    {% if not campaigns|length %}
      <h2>Não há campanhas para exibir no momento.</h2>
    {% else %}
      {% for campaign in campaigns %}
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="{% static 'img/search-bar-background.jpg' %}" alt="Imagem de {{ campaign.titulo }}" />
          <div class="card-body">
            <h5 class="card-title text-truncate">{{ campaign.titulo }}</h5>
            <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">{{ campaign.descricao }}</p>
            <a href="#" class="btn btn-success">Detalhes</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
