{% extends 'base.html' %}

{% block title %}
  Prato Solidário
{% endblock %}

{% block content %}
  <div class="mt-5">
    <div class="text-center">
      <h1 class="display-4">Bem-vindo ao Prato Solidário</h1>
      <p class="lead">Juntos podemos combater a fome e levar esperança a quem mais precisa.</p>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <h2 class="h4">Nossa Missão</h2>
        <p class="text-justify">O Prato Solidário tem como missão mobilizar a sociedade, empresas e voluntários para promover ações que ajudem a combater a fome e a insegurança alimentar em comunidades vulneráveis. Acreditamos que, com o esforço coletivo, é possível garantir um futuro onde ninguém passe fome.</p>
      </div>
      <div class="col-md-6">
        <h2 class="h4">Nossa Visão</h2>
        <p class="text-justify">Almejamos ser referência nacional no combate à fome, com a criação de redes de apoio e solidariedade que envolvam não só a distribuição de alimentos, mas também a conscientização e o desenvolvimento de práticas sustentáveis para erradicar a pobreza e a insegurança alimentar.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="h4">Como Funciona</h2>
        <p class="text-justify">O Prato Solidário funciona através de parcerias com doadores, ONGs e voluntários. Nós fazemos com que as campanhas e ações sociais cheguem a um maior número possível de pessoas, tanto comunidades carentes quanto colaboradores.</p>
      </div>
    </div>

    <div class="text-center mt-5">
      <h2 class="h4">Participe Você Também!</h2>
      <p class="lead">Seja um voluntário. Desejar divulgar ou iniciar uma ação no combate a fome, cadastre agora mesmo sua campanha. Toda ajuda conta!</p>
      <a href="#" class="btn btn-success btn-lg">Quero divulgar uma ação social</a>
    </div>
{% endblock %}
