{% extends 'base.html' %}

{% block title %}
  Cadastrar uma campanha
{% endblock %}

{% block content %}
  <div class="mt-5">
    <h1 class="mb-4">Cadastre agora mesmo uma campanha</h1>
    {{ form.media }}
    <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group d-flex row">
        <div class="col-md-6 mt-3">
          <label class="mb-2" for="c-title">Título</label>
          {{ form.title }}
        </div>
        <div class="col-md-6 mt-3 mb-2">
          <label class="mb-2" for="c-limit_date">Data limite para campanha</label>
          {{ form.limit_date }}
        </div>
      </div>
      <div class="form-group mt-4">
        <div>
          <label class="mb-2" for="c-description">Descrição</label>
          {{ form.description }}
        </div>
      </div>
      <div class="form-group mt-4">
        <div>
          <label class="mb-2" for="c-how_help">Como ajudar</label>
          {{ form.how_help }}
        </div>
      </div>
      <div class="form-group mt-4">
        <div class="form-group d-flex row">
          <div class="col-md-6 mt-3">
            <div class="d-flex flex-column">
              <label class="mb-2" for="c-image" style="max-width: 300px;">{{ form.image_path.label }}</label>
              <div id="rowimage" class="d-flex flex-row">
                <span class="fw-bold btn btn-primary text-white btn-file">
                  Selecionar
                  {{ form.image_path }}
                </span>
                <input type="text" placeholder="Nenhuma imagem" id="filename" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-3 d-flex flex-column">
            <label class="mb-2" for="c-captcha">Não sou um robô</label>
            <div class="d-flex flex-row align-items-end">
              {{ form.captcha }}
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-lg mt-5">Criar Campanha</button>
    </form>
  </div>
  <style>
    .form-control:focus {
      border-color: #fff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #a7c566;
    }
    
    .btn-file {
      border-radius: 5px 0 0 5px;
    }
    
    input[readonly] {
      border-radius: 0 5px 5px 0;
      background-color: white !important;
      cursor: text !important;
    }
    
    input[readonly]:focus {
      border-color: gainsboro;
      box-shadow: none;
    }
  </style>
  <script>
    document.getElementById('rowimage').addEventListener('click', function () {
      document.getElementById('c-image').click()
    })
    
    $(document).on('change', '.btn-file :file', function () {
      let input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '')
      input.trigger('fileselect', [numFiles, label])
    })
    
    $(document).ready(function () {
      $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
        let input = $('input#filename'),
          log = numFiles > 1 ? numFiles + ' files selected' : label
    
        if (input.length) {
          input.val(log)
        } else {
          if (log) alert(log)
        }
      })
    })
  </script>
{% endblock %}
