{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid center">
        <a class="navbar-brand" href="/">
            <img class="rounded" width="40px" src="{% static 'img/logo.png' %}" alt="">
            Prato Solidário
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Página inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'campaigns' %}">Campanhas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">Sobre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>